.ui-graph-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-graph-modal .container {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  margin-top: -100px;
  margin-left: -65px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 5px; }

.ui-graph-modal .container .info {
  font-size: 13px;
  display: flex;
  margin-bottom: 3px; }

.ui-graph-modal .container .info .label {
  margin-right: 5px; }

.ui-graph-modal .container .info.indexes {
  color: #38b506; }

.ui-graph-modal .container .info.population {
  color: #35a2f2; }

.ui-graph-modal .container .info.year {
  color: #f27b35; }
