

@import '../../app/variables';


.ui-graph-modal
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .container
  {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    margin-top: -100px;
    margin-left: -65px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 5px;

    .info
    {
      font-size: 13px;
      display: flex;
      margin-bottom: 3px;

      .label
      {
        margin-right: 5px;
      }

      &.indexes
      {
        color: $GREEN;
      }

      &.population
      {
        color: $BLUE;
      }

      &.year
      {
        color: $ORANGE;
      }
    }
  }
}
