
@import '../../app/variables';


$MARGIN: 15px;

.ui-graph-markers
{
  display: flex;
  color: $ORANGE;
  justify-content: space-between;
  font-size: 11px;
  margin-top: $MARGIN;

  &.vertical
  {
    margin-top: 0;
    flex-direction: column;

    &.left
    {
      text-align: right;
      margin-right: $MARGIN;
    }

    &.right
    {
      margin-left: $MARGIN;
    }
  }
}
