.ui-graph-markers {
  display: flex;
  color: #f27b35;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 15px; }
  .ui-graph-markers.vertical {
    margin-top: 0;
    flex-direction: column; }
    .ui-graph-markers.vertical.left {
      text-align: right;
      margin-right: 15px; }
    .ui-graph-markers.vertical.right {
      margin-left: 15px; }
