html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #000;
  color: #FFF;
  font-family: 'Arial';
  min-width: 650px; }
  html #root, body #root {
    height: 100%; }
    html #root .app, body #root .app {
      display: flex;
      flex-direction: column;
      height: 100%; }
