


@import 'variables';

html, body
{
  padding: 0;
  margin: 0;
  height: 100%;
  background: $BLACK;
  color: $WHITE;
  font-family: 'Arial';
  min-width: 650px;

  #root
  {
    height: 100%;

    .app
    {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

