<style type="text/css">
    table.tableizer-table {
        font-size: 12px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }
    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }
    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
</style>
<table class="tableizer-table">
<thead>
    <tr class="tableizer-firstrow">
        <th>Index</th>
        <th>Year</th>
        <th>Population</th>
    </tr>
</thead>
<tbody>
 <tr><td>100</td><td>1890</td><td>63.056</td></tr>
 <tr><td>88.01179106</td><td>1891</td><td>64.361</td></tr>
 <tr><td>95.42173618</td><td>1892</td><td>65.666</td></tr>
 <tr><td>92.29738548</td><td>1893</td><td>66.97</td></tr>
 <tr><td>123.9804828</td><td>1894</td><td>68.275</td></tr>
 <tr><td>117.4550916</td><td>1895</td><td>69.58</td></tr>
 <tr><td>100.3029902</td><td>1896</td><td>70.885</td></tr>
 <tr><td>106.5157028</td><td>1897</td><td>72.189</td></tr>
 <tr><td>110.1841398</td><td>1898</td><td>73.494</td></tr>
 <tr><td>103.8531133</td><td>1899</td><td>74.799</td></tr>
 <tr><td>101.5742948</td><td>1900</td><td>76.094</td></tr>
 <tr><td>87.3260955</td><td>1901</td><td>77.584</td></tr>
 <tr><td>100.4736445</td><td>1902</td><td>79.163</td></tr>
 <tr><td>93.07489238</td><td>1903</td><td>80.632</td></tr>
 <tr><td>101.854359</td><td>1904</td><td>82.166</td></tr>
 <tr><td>87.24854753</td><td>1905</td><td>83.822</td></tr>
 <tr><td>103.5251673</td><td>1906</td><td>85.45</td></tr>
 <tr><td>109.3165207</td><td>1907</td><td>87.008</td></tr>
 <tr><td>100.8191824</td><td>1908</td><td>88.71</td></tr>
 <tr><td>95.38041379</td><td>1909</td><td>90.49</td></tr>
 <tr><td>93.11063671</td><td>1910</td><td>92.407</td></tr>
 <tr><td>97.54333604</td><td>1911</td><td>93.863</td></tr>
 <tr><td>102.3651618</td><td>1912</td><td>95.335</td></tr>
 <tr><td>95.4085608</td><td>1913</td><td>97.225</td></tr>
 <tr><td>96.9771637</td><td>1914</td><td>99.111</td></tr>
 <tr><td>88.1487638</td><td>1915</td><td>100.546</td></tr>
 <tr><td>93.72485165</td><td>1916</td><td>101.961</td></tr>
 <tr><td>85.00903742</td><td>1917</td><td>103.268</td></tr>
 <tr><td>75.56662106</td><td>1918</td><td>103.208</td></tr>
 <tr><td>70.51379536</td><td>1919</td><td>104.514</td></tr>
 <tr><td>66.07414907</td><td>1920</td><td>106.541</td></tr>
 <tr><td>65.61430848</td><td>1921</td><td>108.538</td></tr>
 <tr><td>74.79619714</td><td>1922</td><td>110.049</td></tr>
 <tr><td>76.35007782</td><td>1923</td><td>111.947</td></tr>
 <tr><td>74.28697788</td><td>1924</td><td>114.109</td></tr>
 <tr><td>78.16282021</td><td>1925</td><td>115.829</td></tr>
 <tr><td>72.49060155</td><td>1926</td><td>117.397</td></tr>
 <tr><td>71.38030121</td><td>1927</td><td>119.035</td></tr>
 <tr><td>73.28212987</td><td>1928</td><td>120.509</td></tr>
 <tr><td>72.61432988</td><td>1929</td><td>121.878</td></tr>
 <tr><td>69.4919137</td><td>1930</td><td>123.188</td></tr>
 <tr><td>68.64520321</td><td>1931</td><td>124.149</td></tr>
 <tr><td>68.33719351</td><td>1932</td><td>124.949</td></tr>
 <tr><td>72.86594698</td><td>1933</td><td>125.69</td></tr>
 <tr><td>73.27941113</td><td>1934</td><td>126.485</td></tr>
 <tr><td>78.06999903</td><td>1935</td><td>127.362</td></tr>
 <tr><td>79.41489505</td><td>1936</td><td>128.181</td></tr>
 <tr><td>79.71761781</td><td>1937</td><td>128.961</td></tr>
 <tr><td>78.46465294</td><td>1938</td><td>129.969</td></tr>
 <tr><td>78.54968493</td><td>1939</td><td>131.028</td></tr>
 <tr><td>81.73080633</td><td>1940</td><td>132.122</td></tr>
 <tr><td>73.81588343</td><td>1941</td><td>133.402</td></tr>
 <tr><td>68.50282683</td><td>1942</td><td>134.86</td></tr>
 <tr><td>70.9229742</td><td>1943</td><td>136.739</td></tr>
 <tr><td>80.30899579</td><td>1944</td><td>138.397</td></tr>
 <tr><td>87.75004612</td><td>1945</td><td>139.928</td></tr>
 <tr><td>106.5058955</td><td>1946</td><td>141.389</td></tr>
 <tr><td>109.3296707</td><td>1947</td><td>144.126</td></tr>
 <tr><td>101.2225795</td><td>1948</td><td>146.631</td></tr>
 <tr><td>100.0466076</td><td>1949</td><td>149.188</td></tr>
 <tr><td>105.8948393</td><td>1950</td><td>151.684</td></tr>
 <tr><td>103.8986687</td><td>1951</td><td>154.287</td></tr>
 <tr><td>103.9743275</td><td>1952</td><td>156.954</td></tr>
 <tr><td>114.7133093</td><td>1953</td><td>159.565</td></tr>
 <tr><td>115.1461897</td><td>1954</td><td>162.391</td></tr>
 <tr><td>114.7133093</td><td>1955</td><td>165.275</td></tr>
 <tr><td>114.9797746</td><td>1956</td><td>168.221</td></tr>
 <tr><td>114.6818724</td><td>1957</td><td>171.274</td></tr>
 <tr><td>114.2539549</td><td>1958</td><td>174.141</td></tr>
 <tr><td>114.5184317</td><td>1959</td><td>177.13</td></tr>
 <tr><td>114.2244594</td><td>1960</td><td>180.76</td></tr>
 <tr><td>114.3562062</td><td>1961</td><td>183.742</td></tr>
 <tr><td>113.9326647</td><td>1962</td><td>186.59</td></tr>
 <tr><td>114.2244594</td><td>1963</td><td>189.3</td></tr>
 <tr><td>114.2244594</td><td>1964</td><td>191.927</td></tr>
 <tr><td>114.2244594</td><td>1965</td><td>194.347</td></tr>
 <tr><td>114.3562062</td><td>1966</td><td>196.599</td></tr>
 <tr><td>114.3562062</td><td>1967</td><td>198.752</td></tr>
 <tr><td>114.6506701</td><td>1968</td><td>200.745</td></tr>
 <tr><td>114.2244594</td><td>1969</td><td>202.736</td></tr>
 <tr><td>114.3562062</td><td>1970</td><td>205.089</td></tr>
 <tr><td>114.7514465</td><td>1971</td><td>207.692</td></tr>
 <tr><td>115.0149401</td><td>1972</td><td>209.924</td></tr>
 <tr><td>115.708577</td><td>1973</td><td>211.939</td></tr>
 <tr><td>115.5763387</td><td>1974</td><td>213.898</td></tr>
 <tr><td>115.5763387</td><td>1975</td><td>215.981</td></tr>
 <tr><td>116.1419425</td><td>1976</td><td>218.086</td></tr>
 <tr><td>116.2746762</td><td>1977</td><td>220.289</td></tr>
 <tr><td>115.8764752</td><td>1978</td><td>222.629</td></tr>
 <tr><td>115.6110079</td><td>1979</td><td>225.106</td></tr>
 <tr><td>114.9473397</td><td>1980</td><td>227.726</td></tr>
 <tr><td>114.9473397</td><td>1981</td><td>230.008</td></tr>
 <tr><td>115.4782743</td><td>1982</td><td>232.218</td></tr>
 <tr><td>115.4441003</td><td>1983</td><td>234.333</td></tr>
 <tr><td>116.1052922</td><td>1984</td><td>236.394</td></tr>
 <tr><td>115.9371675</td><td>1985</td><td>238.506</td></tr>
 <tr><td>115.8054208</td><td>1986</td><td>240.683</td></tr>
 <tr><td>115.5419272</td><td>1987</td><td>242.843</td></tr>
 <tr><td>115.708577</td><td>1988</td><td>245.061</td></tr>
 <tr><td>115.4441003</td><td>1989</td><td>247.387</td></tr>
 <tr><td>115.0473852</td><td>1990</td><td>250.181</td></tr>
 <tr><td>114.6506701</td><td>1991</td><td>253.53</td></tr>
 <tr><td>113.6974723</td><td>1992</td><td>256.922</td></tr>
 <tr><td>113.4076293</td><td>1993</td><td>260.282</td></tr>
 <tr><td>113.7463929</td><td>1994</td><td>263.455</td></tr>
 <tr><td>113.8215258</td><td>1995</td><td>266.588</td></tr>
 <tr><td>115.017353</td><td>1996</td><td>269.714</td></tr>
 <tr><td>114.468239</td><td>1997</td><td>272.958</td></tr>
 <tr><td>113.9231186</td><td>1998</td><td>276.154</td></tr>
 <tr><td>113.665374</td><td>1999</td><td>279.328</td></tr>
 <tr><td>113.3819483</td><td>2000</td><td>282.398</td></tr>
 <tr><td>113.7671644</td><td>2001</td><td>285.225</td></tr>
 <tr><td>114.3799872</td><td>2002</td><td>287.955</td></tr>
 <tr><td>113.9685484</td><td>2003</td><td>290.626</td></tr>
 <tr><td>114.322207</td><td>2004</td><td>293.262</td></tr>
 <tr><td>114.2936265</td><td>2005</td><td>295.993</td></tr>
 <tr><td>113.5085258</td><td>2006</td><td>298.818</td></tr>
 <tr><td>112.7063454</td><td>2007</td><td>301.696</td></tr>
 <tr><td>112.7063454</td><td>2008</td><td>304.543</td></tr>
 <tr><td>113.0820332</td><td>2009</td><td>307.24</td></tr>
 <tr><td>113.7081796</td><td>2010</td><td>309.807</td></tr>
 <tr><td>113.3077987</td><td>2011</td><td>312.169</td></tr>
 <tr><td>113.1830104</td><td>2012</td><td>314.49</td></tr>
 <tr><td>112.5154365</td><td>2013</td><td>316.796</td></tr>
 <tr><td>112.5154365</td><td>2014</td><td>319.233</td></tr>
 <tr><td>112.7185205</td><td>2015</td><td>321.704</td></tr>
 <tr><td>112.5737497</td><td>2016</td><td>323.242</td></tr>
</tbody></table>
