
@import '../../app/variables';


$LABEL_MARGIN: 25px;

.ui-graph
{
  margin-top: 25px;

  .top-container
  {
    display: flex;
  }

  .bottom-container
  {
    margin: 0 75px;
  }

  .label-indexes
  {
    margin-right: $LABEL_MARGIN;
    color: $GREEN;
  }

  .label-populations
  {
    margin-left: $LABEL_MARGIN;
    color: $BLUE;
  }

  .label-years
  {
    text-align: center;
    margin-top: $LABEL_MARGIN;
    color: $ORANGE;
  }

  .markers-indexes
  {
    color: $GREEN;
  }

  .markers-populations
  {
    color: $BLUE;
  }

}
