.ui-graph {
  margin-top: 25px; }
  .ui-graph .top-container {
    display: flex; }
  .ui-graph .bottom-container {
    margin: 0 75px; }
  .ui-graph .label-indexes {
    margin-right: 25px;
    color: #38b506; }
  .ui-graph .label-populations {
    margin-left: 25px;
    color: #35a2f2; }
  .ui-graph .label-years {
    text-align: center;
    margin-top: 25px;
    color: #f27b35; }
  .ui-graph .markers-indexes {
    color: #38b506; }
  .ui-graph .markers-populations {
    color: #35a2f2; }
