.ui-graph-background {
  flex: 1;
  position: relative;
  height: 450px;
  border: 1px solid #333333;
  background: #1b1b1b; }
  .ui-graph-background .rule-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between; }
    .ui-graph-background .rule-container.horizontal {
      flex-direction: column; }
    .ui-graph-background .rule-container .rule {
      background: #212121; }
      .ui-graph-background .rule-container .rule.horizontal {
        height: 1px;
        width: 100%; }
      .ui-graph-background .rule-container .rule.vertical {
        width: 1px;
        height: 100%; }
  .ui-graph-background .children {
    position: absolute;
    width: 100%;
    height: 100%; }
