
@import '../../app/variables';


$RULE_WIDTH: 1px;

.ui-graph-background
{
  flex: 1;
  position: relative;
  height: 450px;
  border: 1px solid $DARK_GREY3;
  background: $DARK_GREY;

  .rule-container
  {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;

    &.horizontal
    {
      flex-direction: column;
    }

    .rule
    {
      background: $DARK_GREY2;

      &.horizontal
      {
        height: $RULE_WIDTH;
        width: 100%;
      }

      &.vertical
      {
        width: $RULE_WIDTH;
        height: 100%;
      }
    }
  }

  .children
  {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
